{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Instant example</title>
  </head>

  <body>
    <div id="app"></div>
    <script src="{% static 'instant/index.min.js' %}"></script>
    <script>
      const instant = $instant.useInstant();
      console.log("Instant", instant);
      instant.init(
        "http://localhost:8000", // backend url
        "ws://localhost:8427", // websockets url
        true // verbosity
      ).then(() => console.log("Init ok"))
    </script>
  </body>

</html>
